{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content="noindex, nofollow">
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <title>Arshidi Website</title>
</head>
<body>
<a href="https://t.me/arshidiofficial">Telegram</a>
<!-- You are curies and we like that -->
<!-- We might have a job for you, contact us -->
<!-- +989981105577 -->
{% if request.user.is_authenticated and request.user.is_superuser %}
    <br>
    <a href="/admin">Go to admin</a>
    <br>
    <p>Total <u>Expenses</u> from the begaining to now (Rial): {{ expenses_sum|intcomma }}</p>
    <p>Total <u>Incomes</u> from the begaining to now (Dollar): {{ incomes_sum|intcomma }}</p>
    <p>Total <u>Salaries</u> from the begaining to now (Rial): {{ salaries_sum|intcomma }}</p>
    <p>Total <u>Net Income</u> from the begaining to now (Rial): {{ net_income|intcomma }}</p>
{% endif %}
</body>
</html>