{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”robots” content="noindex, nofollow">
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <title>Arshidi Website</title>
</head>
<body>
<!-- You are curies and we like that -->
<!-- We might have a job for you, contact us -->
<!-- +989981105577 -->
</body>
</html>